In [1]:
#ANSWER 1

#"""We use '#' for single line comment,and we use triple ''' or """ for 
#multiline comments.

In [7]:
#ANSWER 2

# a variable is a symbolic name that references a value. Variables allow you to store and manipulate data in your programs.

In [8]:
X=10
Y='AFTAB'

#Here X and Y are variables storing data.
#On Printing values of variable:--
print(X)

10

In [9]:
print(Y)

AFTAB

In [11]:
#ANSWER 3:

# Yes, We can convert one data type to another in python.
#Here ,for example,

#Converts a number or a string containing a whole number to an integer

# Convert a string to an integer
num_str = "45"
num_int = int(num_str)
print(num_int)

45

In [39]:
#ANSWER 4:
I will open a  text editor of my choice (e.g., Notepad, Visual Studio Code, Atom, etc.).

i will write Python code in the editor. Save the file with a .py extension. For example, have to create a file named myscript.py and add the following code:

print("Hello, World!")

Executing a Python Script from the Command Line:
    
Open a command prompt or terminal on my system.

Navigate to the directory where i saved my Python script using the cd command (change directory). For example:
cd path/to/your/directory

Once i am in the correct directory,I can run the Python script using the python command followed by the script's filename

python myscript.py''

SyntaxError: unterminated string literal (detected at line 15) (3902259940.py, line 15)

In [18]:
#ANSWER 5:

my_list = [1, 2, 3, 4, 5]

# Using slicing to obtain the sub-list [2, 3]
sub_list = my_list[1:3]

(sub_list)

[2, 3]

In [22]:
#ANSWER 6:

'''In mathematics, a complex number is a number that can be expressed in the form of 
x+yi, where x and y are real numbers, and 
i is the imaginary unit.
The real part is denoted by x and the imaginary part is denoted by 
iy.
But in python, It is expressed in the form of x+yj.
for example 5+6j is a complex number used in python.'''

'In mathematics, a complex number is a number that can be expressed in the form of \nx+yi, where x and y are real numbers, and \ni is the imaginary unit.\nThe real part is denoted by x and the imaginary part is denoted by \niy.\nBut in python, It is expressed in the form of x+yj.\nfor example 5+6j is a complex number used in python.'

In [23]:
#ANSWER 7:

age = 25
# here age is variable and 25 is value assigned in it.

In [24]:
# We can check here,
age

25

In [26]:
#ANSWER 8:

price=9.99

#here 'price' is variable and its value is 9.99.

#Now we check its type
type(price)

float

In [27]:
#hence its type is float.

In [ ]:
#ANSWER 9:

In [29]:
NAME='AFTAB'
print(NAME)

AFTAB

In [36]:
#ANSWER 10:

# Original string
original_string = "Hello,World!"

# Extracting the substring "World"
substring = original_string[6:11]
#Here 6 and 11 are indexing numbers.
print(substring)

World

In [37]:
#ANSWER 11;

# Assigning a boolean value to the variable is_student
is_student = True  # Set to True because i am currently a student, or False if not

# Printing the value of the variable
print(is_student)

True