In [1]:
#ANSWER 1

import pandas as pd

# Create a Pandas Series
series = pd.Series([4, 8, 15, 16, 23, 42])

# Print the Series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
#ANSWER 2

# Create a list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Create a Pandas Series from the list
series_from_list = pd.Series(my_list)

# Print the Series
print(series_from_list)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [3]:
#ANSWER 3

# Create a Pandas DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40],
        'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']}

df = pd.DataFrame(data)

# Print the DataFrame
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston

In [4]:
#ANSWER 4

'''DataFrame: A DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. It can be thought of as a table, similar to a spreadsheet or SQL table. Each column in a DataFrame is a pandas Series. DataFrames are commonly used for data manipulation and analysis.
Series: A Series is a one-dimensional labeled array capable of holding data of any type. It is like a fixed-size dictionary in which keys are the index and values are the data elements. Series are often used as columns in DataFrames or as standalone data structures.
Example:'''


# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35]}
df = pd.DataFrame(data)

# Accessing a Series from DataFrame
age_series = df['Age']
print(age_series)
In this example, df['Age'] returns a Series containing ages of individuals.

SyntaxError: invalid syntax (3427985417.py, line 16)

In [5]:
#ANSWER 5

'''Some common functions to manipulate data in a Pandas DataFrame include:

head() and tail(): View the first or last n rows of the DataFrame.
info(): Get a concise summary of the DataFrame including data types and missing values.
describe(): Generate descriptive statistics summarizing the central tendency, dispersion, and shape of the dataset.
dropna(): Remove missing values from the DataFrame.
fillna(): Replace missing values with specified values.
groupby(): Group data based on one or more columns.
merge(): Merge DataFrame objects by performing a database-style join operation.'''

'Some common functions to manipulate data in a Pandas DataFrame include:\n\nhead() and tail(): View the first or last n rows of the DataFrame.\ninfo(): Get a concise summary of the DataFrame including data types and missing values.\ndescribe(): Generate descriptive statistics summarizing the central tendency, dispersion, and shape of the dataset.\ndropna(): Remove missing values from the DataFrame.\nfillna(): Replace missing values with specified values.\ngroupby(): Group data based on one or more columns.\nmerge(): Merge DataFrame objects by performing a database-style join operation.'

In [6]:
# Grouping data by 'City' and calculating the mean age
mean_age_by_city = df.groupby('City')['Age'].mean()
print(mean_age_by_city)

City
Chicago        35.0
Houston        40.0
Los Angeles    30.0
New York       25.0
Name: Age, dtype: float64

In [7]:
#ANSWER 6

'''Mutable in nature: Mutable objects can be changed after they are created. In pandas, both Series and DataFrame are mutable.
Immutable in nature: Immutable objects cannot be changed after they are created.'''

'Mutable in nature: Mutable objects can be changed after they are created. In pandas, both Series and DataFrame are mutable.\nImmutable in nature: Immutable objects cannot be changed after they are created.'

In [8]:
#ANSWER 7
# Creating multiple Series
names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 35])

# Creating a DataFrame using multiple Series
df = pd.DataFrame({'Name': names, 'Age': ages})

# Print the DataFrame
print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35