In [1]:
#ANSWER 1

import pandas as pd

# Example DataFrame
data = {'A': [1, 2, 3],
        'B': ['a', 'b', 'c'],
        'C': [True, False, True]}
df = pd.DataFrame(data)

# 1. head() - Returns the first n rows of the DataFrame
print(df.head())

# 2. info() - Provides a concise summary of the DataFrame including data types and missing values
print(df.info())

# 3. describe() - Generates descriptive statistics summarizing the central tendency, dispersion, and shape of the dataset
print(df.describe())

# 4. dropna() - Removes missing values from the DataFrame
print(df.dropna())

# 5. groupby() - Groups data based on one or more columns
grouped = df.groupby('C').sum()
print(grouped)

   A  B      C
0  1  a   True
1  2  b  False
2  3  c   True
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      object
 2   C       3 non-null      bool
dtypes: bool(1), int64(1), object(1)
memory usage: 179.0+ bytes
None
         A
count  3.0
mean   2.0
std    1.0
min    1.0
25%    1.5
50%    2.0
75%    2.5
max    3.0
   A  B      C
0  1  a   True
1  2  b  False
2  3  c   True
       A
C
False  2
True   4

/tmp/ipykernel_1299/1183161234.py:24: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped = df.groupby('C').sum()

In [2]:
#ANSWER 2

def reindex_df(df):
    new_index = range(1, len(df) * 2, 2)
    df.index = new_index
    return df

# Example usage:
# df = reindex_df(df)

In [4]:
#ANSWER 3

def sum_first_three_values(df):
    sum_values = df['Values'].iloc[:3].sum()
    print("Sum of the first three values:", sum_values)

# Example usage:
# sum_first_three_values(df)

In [5]:
#ANSWER 4

def count_words(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(x.split()))
    return df

# Example usage:
# df = count_words(df)

In [ ]:
#ANSWER 5
'''DataFrame.size(): Returns the number of elements in the DataFrame, which is equal to the number of rows multiplied by the number of columns.
DataFrame.shape(): Returns a tuple representing the dimensionality of the DataFrame, i.e., the number of rows and columns.'''

In [6]:
#ANSWER 6

# To read an excel file, use pd.read_excel() function
# Example: df = pd.read_excel('filename.xlsx')

In [7]:
#ANSWER 7

def extract_username(df):
    df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])
    return df

# Example usage:
# df = extract_username(df)

In [8]:
#ANSWER 8

import pandas as pd

def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

# Example DataFrame
data = {'A': [3, 8, 6, 2, 9],
        'B': [5, 2, 9, 3, 1],
        'C': [1, 7, 4, 5, 2]}
df = pd.DataFrame(data)

# Select rows where 'A' > 5 and 'B' < 10
selected_df = select_rows(df)
print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [9]:
#ANSWER 9

import pandas as pd

def calculate_statistics(df):
    mean = df['Values'].mean()
    median = df['Values'].median()
    std_dev = df['Values'].std()
    return mean, median, std_dev

# Example DataFrame
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

# Calculate statistics
mean, median, std_dev = calculate_statistics(df)
print("Mean:", mean)
print("Median:", median)
print("Standard Deviation:", std_dev)

Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

In [10]:
#ANSWER 10

import pandas as pd

def calculate_moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

# Example DataFrame
data = {'Sales': [100, 120, 130, 110, 150, 140, 160, 170, 180, 190],
        'Date': pd.date_range(start='2024-01-01', periods=10)}
df = pd.DataFrame(data)

# Calculate moving average
df = calculate_moving_average(df)
print(df)

   Sales       Date  MovingAverage
0    100 2024-01-01     100.000000
1    120 2024-01-02     110.000000
2    130 2024-01-03     116.666667
3    110 2024-01-04     115.000000
4    150 2024-01-05     122.000000
5    140 2024-01-06     125.000000
6    160 2024-01-07     130.000000
7    170 2024-01-08     140.000000
8    180 2024-01-09     148.571429
9    190 2024-01-10     157.142857

In [11]:
#ANSWER 11

import pandas as pd

def add_weekday_column(df):
    df['Weekday'] = df['Date'].dt.day_name()
    return df

# Example DataFrame
data = {'Date': pd.date_range(start='2023-01-01', periods=5)}
df = pd.DataFrame(data)

# Add weekday column
df = add_weekday_column(df)
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

In [12]:
#ANSWER 12

import pandas as pd

def select_rows_between_dates(df):
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    selected_rows = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
    return selected_rows

# Example DataFrame
data = {'Date': pd.date_range(start='2023-01-01', end='2023-02-28')}
df = pd.DataFrame(data)

# Select rows between '2023-01-01' and '2023-01-31'
selected_df = select_rows_between_dates(df)
print(selected_df)

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27
27 2023-01-28
28 2023-01-29
29 2023-01-30
30 2023-01-31

In [13]:
#ANSWER 13

import pandas as pd