In [2]:
#ANSWER 1

'''Database is an organized collection of structured information or data, typically stored electronically in a computer system. It allows for efficient retrieval, insertion, and management of data.
SQL (Structured Query Language) databases are relational databases that use structured query language for defining and manipulating data. Examples include MySQL, PostgreSQL, and SQLite.
NoSQL databases, on the other hand, are non-relational databases that don't require a fixed schema and are horizontally scalable. They are designed for distributed data stores that can handle large volumes of data. Examples include MongoDB, Cassandra, and Redis.'''

"Database is an organized collection of structured information or data, typically stored electronically in a computer system. It allows for efficient retrieval, insertion, and management of data.\nSQL (Structured Query Language) databases are relational databases that use structured query language for defining and manipulating data. Examples include MySQL, PostgreSQL, and SQLite.\nNoSQL databases, on the other hand, are non-relational databases that don't require a fixed schema and are horizontally scalable. They are designed for distributed data stores that can handle large volumes of data. Examples include MongoDB, Cassandra, and Redis."

In [5]:
#ANSWER 2 

''' DDL (Data Definition Language) is a subset of SQL used for defining and modifying the structure of database objects.
CREATE is used to create new database objects like tables, indexes, or views.
DROP is used to delete existing database objects.
ALTER is used to modify the structure of existing database objects.
TRUNCATE is used to delete all records from a table without removing the table structure.'''

#FOE EXAMPLE

' DDL (Data Definition Language) is a subset of SQL used for defining and modifying the structure of database objects.\nCREATE is used to create new database objects like tables, indexes, or views.\nDROP is used to delete existing database objects.\nALTER is used to modify the structure of existing database objects.\nTRUNCATE is used to delete all records from a table without removing the table structure.'

In [ ]:
#for example

CREATE TABLE Employees (
    ID INT PRIMARY KEY,
    Name VARCHAR(50),
    Age INT
);

ALTER TABLE Employees
ADD COLUMN Salary DECIMAL(10, 2);

DROP TABLE Employees;

TRUNCATE TABLE Employees;

In [8]:
#ANSWER 3

'''DML (Data Manipulation Language) is used for manipulating data within database objects like tables.
INSERT is used to add new records to a table.
UPDATE is used to modify existing records in a table.
DELETE is used to remove records from a table.'''

'DML (Data Manipulation Language) is used for manipulating data within database objects like tables.\nINSERT is used to add new records to a table.\nUPDATE is used to modify existing records in a table.\nDELETE is used to remove records from a table.'

In [9]:
-- Inserting a record into the Employees table
INSERT INTO Employees (ID, Name, Age, Salary) VALUES (1, 'John', 30, 50000);

-- Updating the salary of an employee
UPDATE Employees SET Salary = 55000 WHERE Name = 'John';

-- Deleting a record from the Employees table
DELETE FROM Employees WHERE ID = 1;

SyntaxError: invalid syntax (559545237.py, line 1)

In [10]:
#ANSWER 4

'''DQL (Data Query Language) is used to retrieve data from the database.
SELECT is the most commonly used DQL command, which retrieves data from one or more tables based on specified criteria.'''

'DQL (Data Query Language) is used to retrieve data from the database.\nSELECT is the most commonly used DQL command, which retrieves data from one or more tables based on specified criteria.'

In [11]:
-- Selecting all columns from the Employees table
SELECT * FROM Employees;

-- Selecting specific columns from the Employees table
SELECT Name, Age FROM Employees WHERE Salary > 50000;

SyntaxError: invalid syntax (3819072622.py, line 1)

In [12]:
#ANSWER 5

'''Primary Key: A primary key is a column or a set of columns that uniquely identifies each row in a table. It enforces the entity integrity of the table. Primary keys are typically used to ensure data integrity and to establish relationships between tables.
Foreign Key: A foreign key is a column or a set of columns in a table that refers to the primary key of another table. It establishes a link between two tables and enforces referential integrity. Foreign keys ensure that the values in the referencing column(s) of one table match the values in the referenced column(s) of another table.'''

'Primary Key: A primary key is a column or a set of columns that uniquely identifies each row in a table. It enforces the entity integrity of the table. Primary keys are typically used to ensure data integrity and to establish relationships between tables.\nForeign Key: A foreign key is a column or a set of columns in a table that refers to the primary key of another table. It establishes a link between two tables and enforces referential integrity. Foreign keys ensure that the values in the referencing column(s) of one table match the values in the referenced column(s) of another table.'

In [ ]:
#ANSWER 6 
import mysql.connector

# Establishing connection to MySQL
conn = mysql.connector.connect(
    host="localhost",
    user="yourusername",
    password="yourpassword",
    database="yourdatabase"
)

# Creating a cursor object
cursor = conn.cursor()

# Executing a SQL query
cursor.execute("SELECT * FROM Employees")

# Fetching results
results = cursor.fetchall()

# Printing results
for row in results:
    print(row)

# Closing cursor and connection
cursor.close()
conn.close()

In [15]:
'''Explanation:

cursor(): The cursor() method creates a cursor object, which is used to execute SQL queries.
execute(): The execute() method is used to execute SQL queries. You pass the SQL query as a parameter to this method. After executing the query, you can retrieve the results using methods like fetchone() or fetchall()'''

'Explanation:\n\ncursor(): The cursor() method creates a cursor object, which is used to execute SQL queries.\nexecute(): The execute() method is used to execute SQL queries. You pass the SQL query as a parameter to this method. After executing the query, you can retrieve the results using methods like fetchone() or fetchall()'

In [16]:
#ANSWER 7

'''The order of execution of SQL clauses in an SQL query is generally as follows:

FROM: Specifies the tables from which to retrieve the data.
WHERE: Applies conditions to filter the rows returned by the FROM clause.
GROUP BY: Groups the rows returned by the WHERE clause based on specified criteria.
HAVING: Applies conditions to the grouped rows.
SELECT: Selects the columns to be included in the result set based on the conditions specified in the previous clauses.
ORDER BY: Orders the result set based on specified criteria.
LIMIT/OFFSET: Limits the number of rows returned or skips a specified number of rows.




'''

'The order of execution of SQL clauses in an SQL query is generally as follows:\n\nFROM: Specifies the tables from which to retrieve the data.\nWHERE: Applies conditions to filter the rows returned by the FROM clause.\nGROUP BY: Groups the rows returned by the WHERE clause based on specified criteria.\nHAVING: Applies conditions to the grouped rows.\nSELECT: Selects the columns to be included in the result set based on the conditions specified in the previous clauses.\nORDER BY: Orders the result set based on specified criteria.\nLIMIT/OFFSET: Limits the number of rows returned or skips a specified number of rows.\n\n\n\n\n'