In [1]:
# ANSWER 1(i)
a='aftab'

In [2]:
#ANSWER 1(ii)
A=['AFTAB','FAIZAN',5254,True]

In [3]:
#ANSWER1(iii)
a=123.56

In [4]:
#ANSWER 1 (iv)
a=('bareilly',451,'FAIZAN',122.3)

In [26]:
#ANSWER 2
#(i) string or str
#(ii) list
#(iii) list
#(iv) int or integer

In [6]:
#ANSWER 3
#(i) / is division operator
a=4/2
print(a)

2.0

In [17]:
#(ii) % (Modulus Operator):

#This operator returns the remainder of the division.

In [20]:
number = 65

# Using modulus operator to check if the number is even or odd
if number % 2 == 0:
    print(f"{number} is an even number.")
else:
    print(f"{number} is an odd number.")

65 is an odd number.

In [21]:
#(iii) // (Floor Division Operator):

#This operator performs floor division, which returns the largest integer less than or equal to the division result.

In [23]:
quotient = 19 // 2
print(quotient)

9

In [25]:
#(iv) ** (Exponentiation Operator):

#This operator is used for exponentiation, raising a number to the power of another.

In [28]:
result = 15 ** 3
print(result)

3375

In [39]:
#ANSWER (4)
# Creating a list with elements of different data types
l = ['Hello',4,True, [5, 6],35, {'name': 'aftab'},False,(7,8), 45,None]

# Using a for loop to print each element and its data type
for element in my_list:
    print(f"Element: {element},Data Type: {type(element)}")

Element: Hello,Data Type: <class 'str'>
Element: 4,Data Type: <class 'int'>
Element: True,Data Type: <class 'bool'>
Element: [5, 6],Data Type: <class 'list'>
Element: 35,Data Type: <class 'int'>
Element: {'name': 'aftab'},Data Type: <class 'dict'>
Element: False,Data Type: <class 'bool'>
Element: (7, 8),Data Type: <class 'tuple'>
Element: 45,Data Type: <class 'int'>
Element: None,Data Type: <class 'NoneType'>

In [ ]:
#ANSWER (5)
# Taking input for numbers A and B
A = int(input("Enter the value of A: "))
B = int(input("Enter the value of B: "))

# Initializing a count variable
count = 0

# Using a while loop to check divisibility and count how many times A can be divided by B
while A % B == 0:
    A = A // B
    count += 1

# Checking if A is purely divisible by B
if count > 0:
    print(f"{A} is purely divisible by {B} and can be divided {count} times.")
else:
    print(f"{A} is not purely divisible by {B}.")
#Sorry my system is not executing

In [48]:
#ANSWER (6)
l = [74, 489, 24, 5, 12, 1, 126, 313, 47, 14, 875, 123, 324, 999, 475, 471, 1423, 659, 74, 12, 56, 82, 145, 1234, 333]


for i in l:

    if i % 3 == 0:
        print(f"{i} is divisible by 3.")
    else:
        print(f"{i} is not divisible by 3.")

74 is not divisible by 3.
489 is divisible by 3.
24 is divisible by 3.
5 is not divisible by 3.
12 is divisible by 3.
1 is not divisible by 3.
126 is divisible by 3.
313 is not divisible by 3.
47 is not divisible by 3.
14 is not divisible by 3.
875 is not divisible by 3.
123 is divisible by 3.
324 is divisible by 3.
999 is divisible by 3.
475 is not divisible by 3.
471 is divisible by 3.
1423 is not divisible by 3.
659 is not divisible by 3.
74 is not divisible by 3.
12 is divisible by 3.
56 is not divisible by 3.
82 is not divisible by 3.
145 is not divisible by 3.
1234 is not divisible by 3.
333 is divisible by 3.

In [ ]:
#ANSWER (7)
 ###In Python, some data types are mutable, meaning their values can be modified after creation, while others are immutable, meaning their values cannot be changed once they are assigned.

In [ ]:
#list is the example of mutable data type

In [ ]:
mutable_list = ['aftab',22,True,46]
print("Original List:", mutable_list)

# Modifying the list
mutable_list[2] = 47
print("Modified List:", mutable_list)

In [ ]:
##NOTE : this page is not executing so i execute on another page and paste on it 
##Original List: ['aftab', 22, True, 46]
##Modified List: ['aftab', 22, 47, 46]